# Python cache
__pycache__

# Extracted frames
extracted_frames/*
!extracted_frames/.gitkeep

# Detected objects
static/detected_nerves/*
!static/detected_nerves/.gitkeep

# Correctly labeled and annotated trainig data
Trainingsdaten/*

# Hand calssified objects
HandClassification/*
